<table class="table">
  <thead>
    <th>From:</th>
    <th>To:</th>
    <th>Read At:</th>
    <th>Body:</th>
  </thead>

  <tr>
    <td><%= @message.sender %></td>
    <td><%= @message.recipient %></td>
    <td><%= @message.read_at %></td>
    <td><%= @message.body %></td>
  </tr>
</table>

<%= link_to "Back", messages_incoming_path, class: "btn btn-success" %>
