<!DOCTYPE html>
<html>
  <head>
    <title>Noi</title>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/technology-devices/512/website_browser_web_site_page_flat_icon-512.png">
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application' %>
      <!-- , 'data-turbolinks-track': 'reload'  was added to the above head but had to remove because of an error -->

      <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This maks it mobile responsive -->
  </head>

  <body class="<%= controller_name %>">

    <!-- Flash -->
    <%= flash_messages %>
      <div id="header">
      </div>

      <nav class="navbar navbar-default" role="navigation" id="navbar">
        <div class="navbar-header">
          <%= link_to "<i class='glyphicon glyphicon-home'></i>&nbsp; Home".html_safe, root_path, class: "navbar-brand #{'active' if current_page?(messages_incoming_path)}" %>
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <% if current_user %>
                <li><%= link_to "<i class='glyphicon glyphicon-envelope'></i>&nbsp; New Message".html_safe, new_message_path, class: "#{'active' if current_page?(new_message_path)}" %></li>
                <li><%= link_to "<i class='glyphicon glyphicon-plus'></i>&nbsp; Add Friend".html_safe, users_path, class: "#{'active' if current_page?(users_path)}"  %></li>
                <li><%= link_to "<i class='glyphicon glyphicon-search'></i>&nbsp; About Us".html_safe, home_about_us_path, class: "#{'active' if current_page?(home_about_us_path)}"  %></li>
                <li><%= link_to "<i class='glyphicon glyphicon-log-out'></i>&nbsp; Log Out".html_safe, logout_path, method: 'delete', class: "#{'active' if current_page?(logout_path)}"  %></li>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Main Container -->
      <div>
        <%= yield %>
      </div>
    <div class="footer">

    </div>
  </body>
</html>
